@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.Note {
  @apply p-4 w-full h-auto max-w-xl relative bg-zinc-900;
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25),
    0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
}
